<h1><%= @book.title %></h1>

<h3>by <%= @book.author %></h3>

<p>Average Rating: <%= @book.average_rating %></p>

<p>Genre: <%= @book.genre %></p>

<p><%= @book.description %></p>

<p><%= link_to "Edit Book", edit_book_path(@book.id), class: "edit-book"%>&nbsp;
   <%= link_to "Delete Book", book_path(@book.id), method: :delete %></p>
